<div>
    <span class="p-title">{{fa-icon "info" fixedWidth=true}} Event ID: {{details.eventId}}</span>
</div>
<pre>
{{details.messageSummary}}
</pre>
<div>
    <span class="p-key">Category: </span>
    <span class="p-value">{{details.category}}</span>
</div>
<div>
    <span class="p-key">Subcategory: </span>
    <span class="p-value">{{details.subcategory}}</span>
</div>
<div>
    <span class="p-key">Minimum Operating System Requirement: </span>
    <span class="p-value">{{details.minimumOperatingSystemRequirement}}</span>
</div>

